.info {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: var(--primary-bg-color);
}

.doctorInfo {
    display: flex;
}

.doctorInfo p {
    margin-left: 15px;
}

.doctorInfo p,
.doctorInfo h1 {
    color: var(--primary-font-color);
}

.a {
    padding: 2px 4px;
    background-color: #fff;
    margin-right: 10px;
}

.printMonth {
    display: none;
}

@media print {
    .monthYear {
        display: none;
    }

    .printMonth {
        display: block;
        color: #fff;
    }
}