.summary {
    padding: 50px;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    width: 50%;
    height: 20px;
    border: 1px solid var(--primary-font-color);
    padding: 0 5px;
}

.overtimeError {
    color: tomato;
    margin-bottom: 10px;
}

.input {
    width: 50px;
}
.signatures{
    display: none;
}

@media print {

    .summary {
        padding: 0;
        margin-top: 10px;
    }
    .signatures{
        margin-top: 50px;
    }
    .signatures p{
        font-size: 16px;
    }
    .signatures p:last-child{
        margin-top: 25px;
    }
}