.add {
    padding: 25px 50px 50px 50px;
}

.add form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.inputContainer input,
.inputContainer select {
    padding: 5px;
    margin-bottom: 10px;
}

.add button {
    max-width: max-content;
    align-self: center;
    padding: 5px;
    padding: 5px;
    background-color: lightgray;
    border: 1px solid #000;
    cursor: pointer;
}

